
@{
    ViewBag.Title = "Orders";
}

@using FoodOrderingManagementSystem.Models
@model List<order_product>

@foreach (var restaurant in ViewBag.restaurants)
{
    <div class="row">
        <div class="col-md-12 Search">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">@restaurant.restaurant_name</h4>
                    <p class="card-category"></p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>User Name</th>
                                    <th>Product Name</th>
                                    <th>Order Type</th>
                                    <th>Price</th>
                                    <th>Time</th>
                                    <th>Details</th>
                                   
                                    </tr>
                            </thead>
                            <tbody>

                                @foreach (var order in Model)
                                {
                                    if (restaurant.restaurant_id == order.product.restaurant_id)
                                    {
                                    <tr class="Search">
                                        <td>@order.order.user.first_name @order.order.user.last_name</td>
                                        <td>@order.product.product_name</td>
                                        <td>@order.order.order_type</td>
                                        <td>@order.order.price</td>
                                        <td>@order.order.order_time</td>
                                        <td>@order.order.order_details</td>
                                        
                                        </tr>
                                        }
                                    }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


