
@{
    ViewBag.Title = "Restaurants";
}
@using FoodOrderingManagementSystem.ViewModels
@model List<RestaurantVM>


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">Restaurants</h4>
                <p class="card-category"></p>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Restaurant Name</th>
                                <th>Restaurant Username</th>
                                <th>Address</th>
                                <th>Phone Number</th>
                                <th>Rating Score</th>
                                <th>City</th>
                                <th>Actions</th>

                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var restaurants in Model)
                            {
                                <tr class="Search">
                                    <td>@restaurants.restaurant_name</td>
                                    <td>@restaurants.username</td>
                                    <td>@restaurants.restaurant_address</td>
                                    <td>@restaurants.phone_number</td>
                                    <td>@restaurants.rating</td>
                                    <td>@restaurants.city_name</td>


                                    <td class="actions">
                                        <a href="/RestaurantAdmin/RestaurantUpdate/@restaurants.restaurant_id" class="btn btn-modern btn-rounded btn-success mb-2">Update</a>
                                        <a href="#" class="btn btn-modern btn-rounded btn btn-danger restSil" data-restid="@restaurants.restaurant_id">Delete</a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/Content/assets_2/js/required/jquery-1.11.1.min.js"></script>

<script>
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#Search").keyup(function () {
            var searchText = $("#Search").val();
            $(".Search").each(function () {
                if (!Contains($(this).text(), searchText)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });
        });
    });
</script>

@section scripts{

    <script src="~/Content/assets_2/js/required/jquery-1.11.1.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>
        $(".restSil").click(function () {
            swal("Are you sure you want to do this?", {
                buttons: ["No", "Yes"],
            }).then((result) => {
                if (result) {
                    var restID = $(this).data("restid");

                    $.ajax(
                        {
                            type: "POST",
                            url: "/RestaurantAdmin/RestaurantDelete/" + restID,
                            success: function () {
                                swal({
                                    title: "İtem Deleted!",
                                    text: "You clicked the button!",
                                    icon: "success",
                                    button: "OK",
                                }).then(() => {
                                    window.location.replace("/RestaurantAdmin/Index");
                                });
                            },
                            error: function () {
                                swal("Your imaginary file is safe!");
                            }
                        });
                }
                else {
                    swal("Your imaginary file is safe!");
                }
            });
        });

    </script>
}