
@{
    ViewBag.Title = "Restaurant";
}
@using FoodOrderingManagementSystem.ViewModels
@model List<RestaurantVM>


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">Restaurant</h4>
                <p class="card-category"></p>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Restaurant Name</th>
                                <th>Restaurant Username</th>
                                <th>Address</th>
                                <th>Phone Number</th>
                                <th>Rating Score</th>
                                <th>City</th>
                                <th>Actions</th>

                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var restaurants in Model)
                            {
                                <tr>
                                    <td>@restaurants.restaurant_name</td>
                                    <td>@restaurants.username</td>
                                    <td>@restaurants.restaurant_address</td>
                                    <td>@restaurants.phone_number</td>
                                    <td>@restaurants.rating</td>
                                    <td>@restaurants.city_name</td>
                                     
                                    <td class="actions">
                                        <a href="/RestaurantAdmin/RestaurantUpdate/@restaurants.restaurant_id" class="btn btn-modern btn-rounded btn-success mb-2">Update</a>
                                        <a href="#" class="btn btn-modern btn-rounded btn btn-danger restSil" data-restid="@restaurants.restaurant_id">Delete</a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script src="~/Content/assets_2/js/required/jquery-1.11.1.min.js"></script>

    <script>
        $(".restSil").click(function () {
            var result = confirm("Kayıt Silinsin mi? ");
            if (result) {
                var restID = $(this).data("restid");

                $.ajax(
                    {
                        type: "POST",
                        url: "/RestaurantAdmin/RestaurantDelete/" + restID,
                        success: function () {
                            alert("Kayıt Silindi");
                            window.location.replace("/RestaurantAdmin/Index");
                        },
                        error: function () {
                            alert("Hata oluştu");
                            window.location.replace("/RestaurantAdmin/Index");

                        }
                    });
            }
            else {
                alert("iptal");
            }

        });


    </script>
}