
@{
    ViewBag.title = "Restaurant Update";
}
@using FoodOrderingManagementSystem.Models

<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Edit Profile</h4>
                <p class="card-category">Complete your profile</p>
            </div>
            <label> </label>
            <label> </label>
            <label> </label>
            <label> </label>
            <div class="card-body">
                <form action="/RestaurantAdmin/RestaurantUpdate" method="post" role="form">
                    <input type="hidden" name="restaurant_id" value="@Model.restaurant_id" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group bmd-form-group">

                                <label class="bmd-label-floating">Restaurant Name</label>
                                <input value="@Model.restaurant_name" type="text" class="form-control" name="restaurant_name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">Restaurant Username</label>
                                <input value="@Model.username" type="text" class="form-control" name="username">
                            </div>
                        </div>
                    </div>
                    <label> </label>
                    <label> </label>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">Address</label>
                                <input value="@Model.restaurant_address" type="text" class="form-control" name="restaurant_address">
                            </div>
                        </div>
                    </div>
                    <label> </label>
                    <label> </label>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group bmd-form-group">
                                <span> </span><label class="bmd-label-floating">Phone Number</label>
                                <input value="@Model.phone_number" type="text" class="form-control" name="phone_number">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">Role</label>
                                <input value="@Model.role.role_name" type="text" class="form-control" disabled="">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">Update Restaurant</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>

