
@{
    ViewBag.Title = "Products";
}

@using FoodOrderingManagementSystem.Models
@model List<product>

@section search{
    @using (Html.BeginForm())
    {
        @Html.Editor("words");
        <button type="submit" class="btn btn-white btn-round btn-just-icon">
            <i class="material-icons">search</i>
            <div class="ripple-container"></div>
        </button>
    }
}

@foreach (restaurant restaurant in ViewBag.restaurant)
{
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title ">@restaurant.restaurant_name</h4>
                    <p class="card-category"></p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>

                                <tr>
                                    <th>Image</th>
                                    <th>Product Name</th>
                                    <th>Category</th>
                                    <th>Price</th>
                                    <th>Detail</th>
                                    <th>Active</th>
                                    <th>Actions</th>

                                </tr>

                            </thead>
                            <tbody>

                                @foreach (var product in Model)
                                {
                                    if (restaurant.restaurant_id == product.restaurant_id)
                                    {
                                        <tr>
                                            <td class="w-1">
                                                <img src="@product.product_image" class="img-fluid img-thumbnail" />
                                            </td>
                                            <td>@product.product_name</td>
                                            <td>@product.category.category_name</td>
                                            <td>@product.price</td>
                                            <td>@product.details</td>
                                            <td>
                                                @if (product.active == true)
                                                {
                                                    <button class="btn btn-success">Active</button>
                                                }
                                                else
                                                {
                                                    <button class="btn btn-danger">Passive</button>
                                                }
                                            </td>


                                            <td class="actions">
                                                <a href="/ProductAdmin/ProductUpdate/@product.product_id" class="btn btn-modern btn-rounded btn-success mb-2">Update</a>
                                                <a href="#" class="btn btn-modern btn-rounded btn btn-danger prodDel" data-prodid="@product.product_id">Delete</a>
                                            </td>
                                        </tr>
                                    }

                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section scripts{

    <script src="~/Content/assets_2/js/required/jquery-1.11.1.min.js"></script>

    <script>
        $(".prodDel").click(function () {
            var result = confirm("Kayıt Silinsin mi? ");
            if (result) {
                var prodID = $(this).data("prodid");

                $.ajax(
                    {
                        type: "POST",
                        url: "/ProductAdmin/ProductDelete/" + prodID,
                        success: function () {
                            alert("Kayıt Silindi");
                            window.location.replace("/ProductAdmin/Index");
                        },
                        error: function () {
                            alert("Hata oluştu");
                            window.location.replace("/ProductAdmin/Index");

                        }
                    });
            }
            else {
                alert("iptal");
            }

        });


    </script>
}
