@{
    ViewBag.Title = "Users Profile";
}
@using FoodOrderingManagementSystem.Models
@model List<user>

<div class="row">
    <div class="col-md-12 Search">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">User</h4>
                <p class="card-category"></p>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Phone Number</th>
                                <th>Address</th>
                                <th>City</th>
                                <th>Score</th>
                                <th>Actions</th>

                            </tr>
                        </thead>
                        <tbody>

                            @foreach (user user in Model)
                            {
                                <tr class="Search">
                                    <td>@user.first_name</td>
                                    <td>@user.last_name</td>
                                    <td>@user.username</td>
                                    <td>@user.user_email</td>
                                    <td>@user.phone_number</td>
                                    <td>@user.user_address</td>
                                    <td>@user.city.city_name</td>
                                    <td>@user.user_score</td>

                                    <td class="actions">
                                        <a href="/UserAdmin/UserUpdate/@user.users_id" class="btn btn-modern btn-rounded btn-success mb-2">Update</a>
                                        <a href="#" class="btn btn-modern btn-rounded btn btn-danger userSil" data-userid="@user.users_id">Delete</a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts{


    <script>
        $(".userSil").click(function () {
            swal("Are you sure you want to do this?", {
                buttons: ["No", "Yes"],
            }).then((result) => {
                if (result) {
                    var userID = $(this).data("userid");

                    $.ajax(
                        {
                            type: "POST",
                            url: "/UserAdmin/UserDelete/" + userID,
                            success: function () {
                                swal({
                                    title: "İtem Deleted!",
                                    text: "You clicked the button!",
                                    icon: "success",
                                    button: "OK",
                                }).then(() => {
                                    window.location.replace("/UserAdmin/Index");
                                });
                            },
                            error: function () {
                                swal("Your imaginary file is safe!");
                            }
                        });
                }
                else {
                    swal("Your imaginary file is safe!");
                }
            });
        });

    </script>


    <script>
        $(document).ready(function () {
            function Contains(text_one, text_two) {
                if (text_one.indexOf(text_two) != -1)
                    return true;
            }
            $("#Search").keyup(function () {
                var searchText = $("#Search").val();
                $(".Search").each(function () {
                    if (!Contains($(this).text(), searchText)) {
                        $(this).hide();
                    }
                    else {
                        $(this).show();
                    }
                });
            });
        });
    </script>
}


