
@{
    ViewBag.title = "User Update";

}

@using FoodOrderingManagementSystem.Models

<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Edit Profile</h4>
                <p class="card-category">Complete your profile</p>
            </div>
            <label> </label>
            <label> </label>
            <label> </label>
            <label> </label>
            <div class="card-body">
                <form action="/UserAdmin/UserUpdate" method="post" role="form">
                    <input type="hidden" name="users_id" value="@Model.users_id" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group bmd-form-group">

                                <label class="bmd-label-floating">First Name</label>
                                <input value="@Model.first_name" type="text" class="form-control" name="first_name" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">Last Name</label>
                                <input value="@Model.last_name" type="text" class="form-control" name="last_name" required>

                            </div>
                        </div>
                    </div>
                    <label> </label>
                    <label> </label>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">Username</label>
                                <input value="@Model.username" type="text" class="form-control" name="username" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">Email</label>
                                <input value="@Model.user_email" type="email" class="form-control" name="user_email" required>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">Address</label>
                                <input value="@Model.user_address" type="text" class="form-control" name="user_address" required>
                            </div>
                        </div>
                    </div>
                    <label> </label>
                    <label> </label>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group bmd-form-group">
                                <label>City</label>
                                <select name="city_id">
                                    @foreach (city cities in ViewBag.cities)
                                    {
                                        <option value="@cities.city_id">@cities.city_name</option>
                                    }
                                </select>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group bmd-form-group">
                                <span> </span><label class="bmd-label-floating">Phone Number</label>
                                <input value="@Model.phone_number" type="tel" pattern="[0-9]{4}[0-9]{3}[0-9]{4}" placeholder="05XXXXXXXXX" class="form-control" name="phone_number" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">Role</label>
                                <input value="@Model.role.role_name" type="text" class="form-control" disabled="" name="role_name">

                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">Update Profile</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>
