
@{
    ViewBag.Title = "Shipper Update";
}

@using FoodOrderingManagementSystem.Models
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Edit Profile</h4>
                <p class="card-category">Complete your profile</p>
            </div>
            <label> </label>
            <label> </label>
            <label> </label>
            <label> </label>
            <div class="card-body">
                <form action="/ShipperAdmin/ShipperUpdate" method="post" role="form">
                    <input type="hidden" name="shipper_id" value="@Model.shipper_id" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">First Name</label>
                                <input value="@Model.first_name" type="text" class="form-control" name="first_name" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">Last Name</label>
                                <input value="@Model.last_name" type="text" class="form-control" name="last_name" required>

                            </div>
                        </div>
                    </div>
                    <label> </label>
                    <label> </label>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">Identification Number</label>
                                <input value="@Model.identification_number" type="tel" pattern="[0-9]{11}" class="form-control" name="identification_number" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">Restaurant</label>
                                <input value="@Model.restaurant.restaurant_name" type="text" class="form-control" disabled="">

                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">Update Profile</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>
